In [1]:
import pandas as pf

In [2]:
df = pf.read_csv('/home/johnb/Downloads/NYC_sample.csv')

In [3]:
df.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type,PULocationID,DOLocationID
0,2,05/07/2016 02:25:05 AM,05/07/2016 02:38:19 AM,N,1,-73.958908,40.716824,-73.932411,40.707943,6,...,0.5,0.00,0.0,NaN,0.3,12.30,1,1.0,NaN,NaN
1,2,05/07/2016 02:21:26 AM,05/07/2016 02:43:46 AM,N,1,-73.923424,40.706947,-74.016251,40.711220,1,...,0.5,1.00,0.0,NaN,0.3,24.30,1,1.0,NaN,NaN
2,2,05/08/2016 12:54:22 AM,05/08/2016 01:10:20 AM,N,1,-73.956017,40.804737,-73.917313,40.824398,1,...,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,NaN,NaN
3,2,05/08/2016 12:51:46 AM,05/08/2016 01:04:24 AM,N,1,-73.915619,40.743271,-73.913521,40.765663,1,...,0.5,0.00,0.0,NaN,0.3,11.80,1,1.0,NaN,NaN
4,1,05/07/2016 04:19:06 PM,05/07/2016 04:24:20 PM,N,1,-73.939110,40.805382,-73.953804,40.806316,1,...,0.5,1.25,0.0,NaN,0.3,7.55,1,1.0,NaN,NaN

In [5]:
df = df[0:100000]

In [6]:
len(df)

100000

In [7]:
df.to_csv('../data/nyc_sample.csv', index=False)

In [53]:
def _is_prime(n):
    
    if n <= 1: 
        return False
    
    if n <= 3: 
        return True
    
    if n%2 == 0 or n%3 == 0: 
        return False
    
    n_root = int(n**0.5)
    
    f = 5
    
    while f <= n_root:
        
        if n%f == 0 or n%(f + 2) == 0: 
            
            return False
        
        f+= 6
    
    return True


def _prime_sieve(n):
    
    sieve = [True] * int(n//2)
    
    for i in range(3, int(n**0.5)+1, 2):
        
        if sieve[i//2]:
            
            sieve[i*i//2::i] = [False] * (int((n-i*i-1)//(2*i))+1)
            
    return [2] + [2*i+1 for i in range(1,int(n//2)) if sieve[i]]


def get_max_prime(m):

    prime_sum = [0]

    for p in _prime_sieve(m):
    
        prime_sum.append(prime_sum[-1] + p)
        
        if prime_sum[-1] >= m: 
            
            break

    c = len(prime_sum)

    terms = 1
    
    for i in range(c):
        
        for j in range(c-1, i+terms, -1):
            
            n = prime_sum[j] - prime_sum[i]
            
            if (j-i > terms and _is_prime(n)):
                
                terms, max_prime = j-i, n
                
    return max_prime

In [56]:
get_max_prime(100)

41